@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', system-ui, sans-serif;
}

:root {
  --color-white: #fff;
  --color-primary: #3b82f6;
  --color-light-gray-bg: #f9fafb;
  --color-text: #1f2937;
  --font-main: 'Roboto', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--font-main) !important;
}

header {
  backdrop-filter: blur(1.5rem);
  padding: 0.6rem 6rem;
}

.wrapper {
  padding: 0.5rem 6rem;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0.6rem 0.5rem;
  }

  .wrapper {
    padding: 0.5rem 0.5rem;
  }
}

.input {
  @apply border border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded-lg transition;
}

button {
  @apply cursor-pointer transition-colors duration-300;
}

.hr-with-text {
  position: relative;
  text-align: center;
  margin: 1rem 0;
  height: 1.5em;
  border-top: none;
}

.hr-with-text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-slate-400);
  transform: translateY(-50%);
}

.hr-with-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.75rem;
  background-color: #fff;
  color: #94a3b8;
  font-size: 0.875rem;
  font-weight: 500;
  z-index: 1;
  transform: translateY(-10%);
}

.call-to-action {
  position: relative;
  width: 10rem;
  color: #fafafa;
  background-color: var(--color-primary);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.call-to-action::after {
  content: '➤';
  position: absolute;
  left: -2rem;
  top: 0;
  width: 2rem;
  height: 100%;
  background-color: transparent;
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
}

.call-to-action:hover,
.call-to-action:active {
  color: var(--color-text);
  background-color: #fafafa;
  padding-left: 1rem;
  box-shadow: 0 0.25rem 10px rgba(120, 120, 120, 0.3);
}

.call-to-action:hover::after,
.call-to-action:active::after {
  left: 0.5rem;
}

@keyframes scale-in {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.3s ease-out forwards;
}

.note-btn {
  width: 2.125rem;
  height: 2.125rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

.note-btn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
